
<h1 class="page-title">Search books</h1>
<form class="form" action="/books" method="GET">
  <h2>Book searching form</h2>
  <p class="form-des">Enter book info to the appropriate input to search book info<br>
  <div class="form-row">
    <div class="form-item">
      <label for="">title</label>
      <input name="title" type="text">
    </div>
    <div class="form-item">
      <label for="">publish date after</label>
      <input name="after" type="date">
    </div>
    <div class="form-item">
      <label for="">publish date before</label>
      <input name="before" type="date">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">search</button>
</form>

<div>
  <h1 class="page-title">Library books</h1>
  
  <div class="books-display-area">
    <% books.forEach((book)=>{ %>
      <div class="book-container">
        <div class="img-container">
          <% if(book.coverImgPath != null){ %>
            <img src="<%= book.coverImgPath %> " alt="cover">
          <% }else{ %> 
            <img src="/public/images/default-book-cover.png" alt="">
          <% } %> 
        </div>
        <p>Title: <%= book.title %></p>
        <p>Date: <%= book.publishDate.toDateString() %></p>
        <a class="btn btn-primary un-link" href="/books/<%= book.id %>">Detail</a>
      </div>
    <% }) %> 
  </div>
  
  <div class="page-wrapper">
    <ul>
      <% if(locals.pageIndex == null){ %> 
        <!-- default pages for books route -->
        <li><a href="/books/page/1">1</a></li>
        <li><a href="/books/page/2">2</a></li>
        <li><a href="/books/page/3">3</a></li>
      <% }else{ %> 
        <%  
          var start= 1 
          if(pageIndex < 3) start = 1
          else if(pageIndex > 11) start = 9
          else start = pageIndex - 2
        %>
        <% for(let i=start; i< start+ 5; i++){ %> 
          <% if(i != pageIndex){ %> 
            <li><a href="/books/page/<%= i %>"><%= i %></a></li>
          <% }else{ %> 
            <li style="background-color: #17679c;"><a href="/books/page/<%= i %>"><%= i %></a></li>
          <% } %> 
        <% } %>
      <% } %> 
    </ul>
  </div>
</div>