
<h1 class="page-title">author info</h1>
<div>
    <h3><%= author.name %></h3>
    <div class="btn-container-row">
        <a class="btn btn-primary un-link" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/_delete-form-field', {url: `/authors/${author.id}`}) %> 
    </div>
</div>
<h1 class="page-title">Books by author</h1>
<div class="author-book-display-area">
  <% books.forEach((book)=>{ %>
    <div class="author-book-container">
      <img src="<%= book.coverImgPath %>" alt="cover">
      <div class="author-book-title"><%= book.title %> </div>
    </div>
  <% }) %> 
</div>